---
import Layout from "../layouts/Layout.astro";
import Article from "../components/Article.astro";
import type { MDXInstance } from "astro";
const allPosts: MDXInstance<MyPost>[] = Object.values(
  import.meta.glob(["./posts/**/*.{md,mdx}", "!./posts/**/_*.{md,mdx}"], {
    eager: true,
  }),
);
const title = "Today I learned.";
const description = "Sharing what I learned today";
const tags = ["frontend", "web", "javascript", "html", "css"];
---

<Layout
  title={title}
  description={description}
  pubDate="2024-07-21"
  updatedDate="2024-07-21"
  tags={tags.join(", ")}
>
  <h1>Today I learned.</h1>
  <p>Sharing what I learned today</p>
  <ul>
    {
      allPosts
        .sort(
          (a, b) =>
            new Date(b.frontmatter.pubDate).getTime() -
            new Date(a.frontmatter.pubDate).getTime(),
        )
        .slice(0, 5)
        .map((post) => (
          <li>
            <Article
              url={post.url!}
              title={post.frontmatter.title}
              pubDate={post.frontmatter.pubDate}
              tags={post.frontmatter.tags}
            />
          </li>
        ))
    }
  </ul>

  <nav class="more">
    <a href="/til/1">
      Read more
    </a>
  </nav>
</Layout>

<style>
  .more {
    text-align: center;
  }
</style>
