---
interface Props {
  title: string;
  pubDate: string;
  updatedDate: string;
  tags: string[];
}

const { title, pubDate, updatedDate, tags } = Astro.props;
---

<hgroup>
  <dl class="tags">
    <div>
      <dt>公開日</dt>
      <dd><time datetime={pubDate}>{pubDate}</time></dd>
    </div>
    {
      pubDate !== updatedDate && (
        <div>
          <dt>更新日</dt>
          <dd>
            <time datetime={updatedDate}>{updatedDate}</time>
          </dd>
        </div>
      )
    }
    <div>
      <dt>タグ</dt>
      <dd>
        {
          tags.map((tag, i) => (
            i < tags.length - 1
              ? <a href=`/til/tags/${tag}`>{tag}</a><span>, </span> 
              : <a href=`/til/tags/${tag}`>{tag}</a>
          ))
        }
      </dd>
    </div>
    <div>
      <dt>著者</dt>
      <dd>
        <a href="/til/aboutme">
          ダーシノ(@bc_rikko)
        <a>
      </dd>
    </div>
  </dl>
  <h1>{title}</h1>
</hgroup>

<style>
.tags {
  font-size: 0.8rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2em;

  > div {
    display: flex;
    gap: 0.5em;
  }

  dt::after {
    content: ":";
  }

  dd {
    margin: 0;
  }
}
</style>
