---
import Meta from "../components/Meta.astro";
import GoogleFont from "../components/GoogleFont.astro";
import SNS from "../components/SNS.astro";
import Byline from "../components/Byline.astro";
import Discover from "../components/Discover.astro";
import Footer from "../components/Footer.astro";

import "../styles/global.css";
interface Props {
  title: string;
  description: string;
  tags: string;
  pubDate: string;
  updatedDate: string;
}

const { title, description, tags, pubDate, updatedDate } =
  (Astro.props as any)?.frontmatter ?? Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/vnd.microsoft.icon" href="/til/favicon.ico" />
    <link rel="sitemap" href="/til/sitemap-index.xml" />
    <Meta title={title} description={description} tags={tags} />
    <GoogleFont />
    <title>{title} | pufferbommy</title>
    <Byline
      title={title}
      description={description}
      pubDate={pubDate}
      updatedDate={updatedDate}
    />
    <SNS />
    <Discover rss="/til/rss" />
  </head>
  <body>
    <header>
      <a href="/til">≪ Today I learned.</a>
      <a href="/til/rss" target="_blank">
        RSS
      </a>
    </header>
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  header {
    display: flex;
    justify-content: space-between;
  }
</style>
